* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-container label, 
  .password-container input, 
  .password-container button {
    margin-bottom: 10px;
  }
  
  .password-container label {
    margin-right: 10px;
  }
  
  .password-container button {
    margin-top: 20px;
  }